@media(max-width: 375px){
    body {
        padding: 0 60px;
    }

    .formulario {
        min-width: 300px;
    }
}

@media(max-width: 768px){
    body {
        padding: 0 60px;
    }
    
    .container {
        flex-direction: column;
        padding: 0 20px;
    }

    .texto .informacoes {
        text-align: center;
    }
}